
<button class="btn btn-primary pull-right"
        type="button"
        (click)="expanded = true"
        *ngIf="!expanded">
  Answers
  <span class="badge">
    {{countAnswers(question)}}
  </span>
</button>

<button class="expand close pull-right"
        *ngIf="expanded"
        (click)="expanded = false">
  &times;
</button>
<div *ngIf="expanded">


  <h1>
    {{question.val().question}}
  </h1>

  <div class="panel panel-default">
    <div class="panel-heading">Answers</div>
    <div class="panel-body">
      <em *ngIf="!question.val().answers">
        No answers yet.
      </em>
      <ul>
        <li *ngFor="#answer of answers | async">
          {{answer.val().answer}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="!expanded">
  <p>
    {{question.val().question}}
  </p>
</div>

<form #answerForm="ngForm" [hidden]="!expanded">
  <div class="form-group">
    <label for="answer">Answer the Question</label>
    <textarea class="form-control" ngControl="answer"></textarea>
  </div>
  <button class="btn btn-primary">Answer</button>
</form>
