<div class="root">
  <button class="expand" (click)="expanded = !expanded">{{expanded ? 'collapse' : 'expand'}}</button>
  <div *ngIf="expanded">
    <h1>
      {{question.val().question}}
    </h1>

    <h2>Answers</h2>
    <em *ngIf="!question.val().answers">
      No answers yet.
    </em>
    <ul>
      <li *ngFor="#answer of getAnswers(question)">
        {{answer.answer}}
      </li>
    </ul>
  </div>
  <div *ngIf="!expanded">
    <p>
      {{question.val().question}}
      <span class="numAnswers">
        {{countAnswers(question)}} answer(s)
      </span>
    </p>
  </div>
  <h3>Answer the Question</h3>
  <form #answerForm="ngForm">
      <textarea ngControl="answer"></textarea>
      <button>Answer</button>
    </form>
</div>